*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    height: 1200px;
    margin-left: 100px;
    margin-top: 50px;
    align-content: center;
}

h1{
    text-align: left;
}
tr td{
    height: 50px;
    width: 50px;
}